{% extends "layout.html" %}

{% block content %}
<section class="row">
    <section class="col-md-4 text-left border-right">
        <h2>Categories</h2>
        {% for category in categories %}
        <section class="row">
            <a href="{{url_for('Catalog', category_name = category.name)}}" class="btn btn-link" role="button">{{category.name}}</a>
        </section>
        {% endfor %}
    </section>
    <section class="col-md-8 text-left">
        {% if items|length>0 %}
            <h2>{{items[0].category.name}}</h2>
            {% for item in items %}
            <section class="row">
                <a href="{{url_for('Item',category_name = item.category.name, item_title = item.title) }}" class="btn btn-link" role="button">{{item.title}}</a>
            </section>    
            {% endfor %}
        {% endif %}
    </section>
    {% if logged_in %}
    <section class="row">
        <a href="{{url_for('Add'}}" class="btn btn-info" role="button">Add item</a>
    </section>
    {% endif %}
</section>
{% endblock %}
