{% extends "layout.html" %}

{% block content %}
<section class="row">
    <section class="col-md-4 text-left border-right">
        <h2>Categories</h2>
        {% for category in categories %}
        <section class="row">
            <a href="{{url_for('Catalog', category_name = category.name)}}" class="btn btn-link" role="button">{{category.name}}</a>
        </section>
        {% endfor %}
    </section>
    <section class="col-md-8 text-left">
        <h2>Latest Items</h2>
        {% for item in latest_items %}
        <section class="row">
            <a href="{{url_for('Item',category_name = item.category.name, item_title = item.title) }}" class="btn btn-link" role="button">{{item.title}} ({{item.category.name}})</a>
        </section>
        {% endfor %}
    </section>
</section>
{% if logged_in %}
<section class="row">
    <section class="col-md-12 padding-top">
        <a href="{{url_for('Add')}}" class="btn btn-info" role="button">Add item</a>
    </section>
</section>
{% endif %}
{% endblock %}

