{% extends "layout.html" %}

{% block content %}
<section class="row">
    <section class="col-md-4 text-left border-right">
        <h2>Categories</h2>
        {% for category in categories %}
        <section class="row">
            <a href="{{url_for('Catalog', category_name = category.name)}}" class="btn btn-link" role="button">{{category.name}}</a>
        </section>
        {% endfor %}
    </section>
    <section class="col-md-8 text-left">
        <h2>Latest Items</h2>
        {% for item in latest_items %}
        <section class="row">
            <a href="" class="btn btn-link" role="button">{{item.title}} ({{item.category.name}})</a>
        </section>
        {% endfor %}
    </section>
</section>
{% endblock %}

