{% extends "layout.html" %}

{% block content %}
<section class="row">
    <section class="col-md-12 padding-top">
        <section class="row">
            <h2>{{item.title}}</h2>
            {{item.description}}
            <br />
            <br />
        </section>
        {% if authorized %}
        <section class="row">
            <a href="{{url_for('Edit', item_title = item.title) }}" class="btn btn-info" role="button">edit</a>
            <a href="{{url_for('Delete', item_title = item.title) }}" class="btn btn-info" role="button">delete</a>
        </section>
        {% endif %}
    </section>
</section>
{% endblock %}
